name: Deploy to Kaggle

on:
  push:
    branches: [ main ]

jobs:
  upload:
    name: Upload
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: harupy/push-kaggle-kernel@master
        env:
          KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
          KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
        with:
          id: ${{ secrets.KAGGLE_USERNAME }}/diabetest-project
          title: "Diabetes Prediction"
          code_file: ./notebooks/exploration.ipynb
          language: python
          kernel_type: notebook
          is_private: true
          enable_gpu: true
          enable_internet: true
          dataset_sources: |
            alexteboul/diabetes-health-indicators-dataset